<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<div style="display: block; margin-left: auto; margin-right: auto; width: min-content;" class="item-rename">
    <form action="/update" method="post" style="display: inline;"  enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-group__label" for="title">title</label>
            <input value="<%= item.title %>" class="form-group__input" type="text" name="title"
                placeholder="title">
        </div>
    
        <div class="form-group">
            <p>Изображение</p>
            <input class="form-group__input" type="file" id="image" name="image" placeholder="image" 
            accept="image/png, image/jpeg, image/jpg, image/webp" style="display:none">
            <label class="form-group__label" for="image" style="width: 169px; padding: 7px; margin-right: 17px; border: 2px solid black;border-radius: 4px;height: 10px;">
            </label>
            
        </div>
    
        <div class="form-group">
            <label class="form-group__label" for="description">description</label>
            <input value="<%= item.description %>" class="form-group__input" type="text" name="description"
                placeholder="description">
        </div>        
        <input type="hidden" value="<%= item.id %>" type="text" name="id">
        <input class="form-button" type="submit" value="Обновить">
    </form>
    <form action="/delete" method="post" style="display: inline; float: right;">
            
        <input type="hidden" value="<%= item.id %>" type="text" name="id">
        <input class="form-button" type="submit" value="Удалить">
    </form>
</div>

<%- include('particles/footer.ejs') %>